* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageHeader {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
}

.pageHeader > .container {
  width: 100%;
  margin: 0 410px;
  background-color: teal;
  padding: 55px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageHeader > .container > .logo {
  width: 100%;
  max-width: 90px;
  padding: 30px 0;
  background-image: url("./images/WD.png");
  background-size: contain;
  background-repeat: no-repeat;
}
